.buttonBooking {
    background-color: #6454a3;
    border: none;
    font-size: 0.9rem;
    border-radius: 20px;
}

.buttonBooking:hover {
    background-color: white !important;
    color: black !important;
    border: 2px solid #6454a3 !important;
    font-size: 0.9rem;
}