.carousel-home {
    height: max-content;
    width: 100px;
    
}

.carousel-indicators {
    display: none
}

.carousel-cars {
    width: 30%;
    margin-top: 105px;
    margin-bottom: 50px;
}

.carouselHome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://res.cloudinary.com/djs7qv2pt/image/upload/v1659013034/lineas_2_e6yvoo.png');
    background-size: cover;
    height: 600px;
}