.carousel-home {
    height: max-content;
    width: 100px;
}

.carousel-indicators {
    display: none
}

.carousel-cars {
    width: 30%;
    margin-top: 105px;
    margin-bottom: 50px;
}

.carouselHome {
    display: flex;
    justify-content: center;
    align-items: center;
}