/* :root {
    --blue: #14d0f0e6;
    --pink: rgba(255, 131, 195, 0.4);
    --white: rgba(255, 255, 255, 0.9);
} */

/* body {
    font: 100% system-ui, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
} */

/* .background {
    background-image: url(https://images.unsplash.com/photo-1554692760-4b7e52978fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #252746;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
} */

/* .background-texture {
    background: linear-gradient(to top,
            rgba(255, 131, 195, 0.9),
            rgba(255, 255, 255, 0.9));
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
} */

.header {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-content {
    width: 40vw;
    padding-left: 40px;
    margin-top: 100px;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.right-content img {
    width: 95%;
}

.stay-home {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 20;
    color: #3939b0;
}

.tittleHome {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #3825b8;
}

.para {
    color: #221768cb;
}

.img-second {

    padding-right: 10px;

    background-image: url('https://res.cloudinary.com/djs7qv2pt/image/upload/v1658670846/vvjcj2edhbfytiecmuh6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100%;
}